<div class="column is-8 is-offset-2">
    {% if not post.parent %}
        <div class="has-text-justified">
            <p>{{ post.group.name }} - {{ post.created_at.strftime("%b %d, %Y") }}</p>
        </div>
    {% endif %}
    <div class="box">
        <article class="media" id="post-{{ post.id }}">
            <figure class="media-left">
                <p class="image is-{% if post.parent %}64x64{% else %}128x128{% endif %}">
                    <img src="https://bulma.io/images/placeholders/{% if post.parent %}64x64{% else %}128x128{% endif %}.png"
                         alt="User image">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    {% if not post.parent %}
                        <p class="title is-4">{{ post.title }}</p>
                    {% endif %}
                    <p class="subtitle is-6">{% if post.parent %}Reply {% endif %}by
                        {{ post.user.name }}{% if post.parent %} on
                            {{ post.created_at.strftime("%b %d, %Y") }}{% endif %}</p>
                    <p class="has-text-justified">
                        {% for line in post.content.splitlines() %}
                            {{ line }}<br>
                        {% endfor %}
                    </p>
                    {% for image in post.images %}
                        <figure class="image">
                            <img src="{{ url_for('main.image', image_id=image.id) }}" alt="User uploaded image">
                        </figure>
                    {% endfor %}
                    <div>
                        <!-- upvote and downvote buttons -->
                        <div class="level">
                            <div class="level-left">
                                <div class="level-item">
                                    <form action="{{ url_for('main.vote', post_id=post.id) }}" method="POST">
                                        {% if not current_user.is_anonymous and current_user.upvoted(post) %}
                                            <input type="hidden" name="action" value="remove">
                                            <button type="submit" class="button is-small is-light">
                                        {% else %}
                                            <input type="hidden" name="action" value="upvote">
                                            <button type="submit" class="button is-small is-primary">
                                        {% endif %}
                                        <span class="icon is-small">
                                            ⬆
                                        </span>
                                        </button>
                                    </form>
                                </div>
                                <div class="level-item">
                                    <p>{{ post.score() }}</p>
                                </div>
                                <div class="level-item">
                                    <form action="{{ url_for('main.vote', post_id=post.id) }}" method="POST">
                                        {% if not current_user.is_anonymous and current_user.downvoted(post) %}
                                            <input type="hidden" name="action" value="remove">
                                            <button type="submit" class="button is-small is-light">
                                        {% else %}
                                            <input type="hidden" name="action" value="downvote">
                                            <button type="submit" class="button is-small is-danger">
                                        {% endif %}
                                        <span class="icon is-small">
                                            ⬇
                                        </span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            {% if current_user == post.user %}
                                <a href="{{ url_for('main.post_edit', post_id=post.id) }}" class="button is-primary">Edit</a>
                                <a href="{{ url_for('main.post_delete', post_id=post.id) }}" class="button is-danger">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>