{% extends "base.html" %}

{% block content %}
    {% include 'components/messages.html' %}
    <h1 class="title">
        {% if current_user.is_authenticated %}
              Good to see you, {{ current_user.name }}!
        {% else %}
              Welcome to Ask&Answer!
        {% endif %}
    </h1>
    <h2 class="subtitle">
        {% if current_user.is_authenticated %}
            Navigate to the Posts page to get started.
        {% else %}
            Please login or sign up to get started.
        {% endif %}
    </h2>
{% endblock %}