{% extends "base.html" %}
{% block content %}
    {% include 'components/messages.html' %}
    <div class="column is-8 is-offset-2">
        <div class="has-text-justified">
            <p>{{ post.group.name }} - {{ post.created_at.strftime("%b %d, %Y") }}</p>
        </div>
        <div class="box">
            <article class="media">
                <figure class="media-left">
                    <p class="image is-128x128">
                        <img src="https://bulma.io/images/placeholders/128x128.png" alt="User image">
                    </p>
                </figure>
                <div class="media-content">
                    <form action="{{ url_for('main.post_delete', post_id=post.id) }}" method="POST">
                        <div class="content">
                            <p>Are you sure you want to delete {{ post }}?</p>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button class="button is-danger">Yes, Delete</button>
                                <a href="{{ url_for('main.post', post_id=post.top().id) }}" class="button is-primary">No, Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </article>
        </div>
    </div>
{% endblock %}