<DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Q/A App About">
        <title>About</title>
    </head>
    <body>

        <h1>Q/A Webapp</h1>
		<hr>
		<p><a href="{{ url_for('main') }}">Home</a>
		<a href="{{ url_for('about') }}">About</a></p>
		<hr>
        <h2>About the Team</h2>
        <p>This Q/A web app was built and tested as a class project for ITSC 3155. Contributors to this project include:</p>
    <ul>
	<li><a href="https://github.com/psizemo1">Owen Sizemore</a></li>
	<li><a href="https://github.com/quynhanh-ngx">Anh Nguyen</a></li>
	<li><a href="">Sumukh Badari</a></li>
	<li><a href="https://github.com/Cmadajsk">Christian Madajski</a></li>
    </ul>
        <p>The primary technologies used to build this web app were Python and Flask, along with additional work in basic HTML and CSS.</p>

    </body>
</html>
